<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="C:\Users\Fundación\OneDrive\Documentos\viveroPrimicia\public\stylesheets\productos.css">
    <title>productos</title>
</head>
<body>
  <%- include('./partials/header'); %>
      <div class="container">
      <div class="card">
        <figure>
            <img src="..\public\images\productos\amapolas.jpg" alt="">
        </figure>
           <div class="contenido">
           <h3 class="card-nombre"></h3>
           <p class="card-precio"></p>
           <p class="card-descripcion"></p>
           <a href="#" >COMPRAR</a>
           </div>
      </div>

      </div>
     


</body>
</html


