<footer class="pie">
    <div class="padre">
      <div class="logo">
        <img src="/images/logo-viviero.jpg" alt="">
        <p class="logotipo"> vivero la primicia </p>
      </div>
     <div class="redes">
        <span class="fb" ><i class="fa-brands fa-facebook"></i></span>
        <span class="wht"><i class="fa-brands fa-whatsapp"></i></span>
        <span class="ins"><i class="fa-brands fa-instagram"></i></span>
        <span class="twiter"><i class="fa-brands fa-twitter"></i></span>
     </div>

    </div>

    <hr>
    <div class="secion">
        <div>
            <h2>Compañia</h2>
            <a href="#">Contactanos</a>
            <a href="#">Inicio </a>
            <a href="#">Acerca de nosotros</a>
            
        </div>

        <div>
            <h2>Objetivos</h2>
            <a href="#">Mision</a>
            <a href="#">vision</a>
            <a href="#">Direcion</a>
            
        </div>

        <div>
            <h2>Metas</h2>
            <a href="#">Provedores</a>
            <a href="#">Inovacion</a>
            <a href="#">Desarrollo</a>
            
        </div>

        <div>
            <h2>Susbribete</h2>
            <form action="">
                <input type="text" placeholder="ingrese tu correo ">
                <button type="submit">registrate</button>
            </form>
        </div>
    </div>
    <div class="derechos">
        <p>todos los derechos reservados al autor 2022 </p>
        <p> politicas rerservadas</p>



    </div>
</footer>